.DS_Store
node_modules
/dist

# composer 
/petpeeps_backend/vendor
# ./petpeeps_backend/composer.json
# ./petpeeps_backend/composer.lock
/vendor
petpeeps_backend/
/petpeeps_backend

# test

aIgnoreMe/
aIgnoreMe
/aIgnoreMe
aIgnoreMe/*

aIgnoreMe/NewTextDocument.txt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
vendor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
